<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div>A <%= @years%> year loan of <%= @loan_amount%>, with an annual interest rate of <%= @rate%>, requires a monthly payment of <%= @payment%><%= @test%></div>
</body>
</html>
